<settings>
    <setting id="dt_fmt" value="%d.%m.%y %H:%M" />
    <setting id="dt_label" value="true" />
    <setting id="fn_re" value="^//([^/]*)/(.*)$" />
    <setting id="fn_sub" value="smb://HTPC/\2" />
    <setting id="ip_addr" value="htpc" />
    <setting id="ip_port" value="49943" />
</settings>
