<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33500">
	<setting label="33503" type="text"   id="fn_re"   default="^//([^/]*)/(.*)$"/>
        <setting label="33504" type="text"   id="fn_sub"  default="smb://\1/\2"/>
	<setting label="33511" type="text"   id="dt_fmt"  default="%d.%m.%y %H:%M"/>
    </category>
</settings>
